<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>Homin Lee's blog</title>
  <meta name="author" content="Homin Lee">
  <meta name="description" content="Homin.dev">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://asset.homin.dev/css/tachyons.min.css">
  <meta http-equiv='refresh' content='3; URL=https://homin.dev/blog'>
  <!--
  <script type="text/javascript">
    new_location = "http://homin.dev"+widows.location.pathname;
    window.location.href = new_location;
    // $("#announce").html(new_location);
  </script>
  -->
</head>
<body class="tc">
<h1 class="f1 lh-title">It moved</h1>
<img src="https://asset.homin.dev/image/404.jpg">

<p id="announce" class="f3 fw3 pa3">“You will be redirected to new address”</p>

<footer class="bottom-0 w-100 pa2">
  <p class="ma0 f4"><a href="/support">대가없는 🥩 환영합니다</a></p>
  <small>© Homin Lee &lt;ff4500@gmail.com&gt;; All rights reserved.</small>
</footer>
</body>
</html>
